<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">个人博客系统</a> &nbsp; • &nbsp;
        Powered by <a href="https://gitee.com/stone_wlh" target="_blank"
                      th:text="${configurations.get('footerCopyRight')}">java改变世界</a><br/>
        ICP <a href="http://www.beian.miit.gov.cn" th:text="${configurations.get('footerICP')}">中国</a>
        <br>
        <span class="ft-warn">&heartsuit;</span>
        Theme：<a href="https://github.com/spiritree/typecho-theme-amaze" rel="friend" target="_blank"> Amaze</a> by <a
            href="https://github.com/spiritree" target="_blank">spiritree</a>
    </div>
</footer>
</html>
